{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <h1>Home Site</h1>
    
    <p>Here you can sign up for a free spin!</p>
    <form action="/add" method="POST" class="mb-4">
    <div class="input-group">
        <input type="text" name="username" class="form-control" placeholder="Username" required>
        <input type="email" name="email" class="form-control" placeholder="Email" required>
        <button type="submit" class="btn btn-primary">Add User</button>
    </div>
    </form>
{% endblock %}